In [1]:
from imdb import IMDb

In [2]:
imdb = IMDb()

In [ ]:
imdb.load_tsvs()

c:\Users\danpf\DataViz_FS25\Plotted-Tomatoes\imdb\imdb.py:16: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titles_df = pd.read_csv('raw/title.basics.tsv', sep='\t')

In [43]:
imdb.get_movie_by_title("Interstellar")

primaryTitle     Interstellar
startYear                2014
averageRating             8.7
numVotes              2271208
Name: 411533, dtype: object

In [44]:
imdb.get_top_rated_movies(10, 100000, 2024)

                    primaryTitle startYear  averageRating  numVotes
756513            Dune: Part Two      2024            8.5    591800
1085636           The Wild Robot      2024            8.2    127389
618517                    Wicked      2024            7.7    119378
1360679     Deadpool & Wolverine      2024            7.6    461256
944378              Inside Out 2      2024            7.6    202465
588013   Furiosa: A Mad Max Saga      2024            7.5    265608
1277845                Nosferatu      2024            7.4    131011
833616             The Substance      2024            7.3    230191
803816               Challengers      2024            7.1    141898
856124            Alien: Romulus      2024            7.1    221033